* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  height: 40vw;
  min-height: 500px;
  margin-top: 3vw;
  padding: 0 10px;
}

.div1 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  background-image: url(../img/img1.jpg);
  background-position: 50% 90%;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  background-size: cover;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 3;
  background-image: url(../img/img2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  background-size: cover;
}

.div3 {
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 3;
  background-image: url(../img/img3.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  background-size: cover;
}

.div4 {
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 3;
  background-image: url(../img/img4.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  background-size: cover;
}

.div5 {
  grid-row: span 3 / span 3;
  grid-column-start: 5;
  grid-row-start: 1;
  background-image: url(../img/img5.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  background-size: cover;
}

.div6 {
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 4;
  background-image: url(../img/img6.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  background-size: cover;
}

.div7 {
  grid-column-start: 4;
  grid-row-start: 5;
  background-image: url(../img/img7.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  background-size: cover;
}

.div8 {
  grid-column: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 5;
  background-image: url(../img/img8.jpg);
  background-position: 50% 75%;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  background-size: cover;
}

/* Tablet */
@media (max-width: 1024px) {
  .parent {
    height: 60vw;
    min-height: 400px;
    gap: 15px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    height: auto;
    min-height: auto;
    padding: 10px;
  }

  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7,
  .div8 {
    grid-column: auto;
    grid-row: auto;
    grid-column-start: auto;
    grid-row-start: auto;
    height: 40vw;
  }
}
